<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
    <!--header -->
    <header class="main-header" style="background-image: url(http://www.placehold.it/1024x200);">
        <!-- Logo -->
        <a href="main.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>HIT</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>HIT</b>Admin</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <button type="button" class="btn btn-default" aria-label="Center Align">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"> 로그아웃</span>
                    </button>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>