<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/url}">Menu1</a></li>
                        <li><a href="#" th:href="@{/url}">Menu2</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <!-- Spring MVC 모델 객체 참조 -->
                <div>
                    <h2>Gachon FHIR Web Client - Sample</h2>

                    <p th:text="'Hello:'+ ${name}" />
                </div>
            </div>

            <div class="row text-center">
                <img src="../../static/img/gachon.png" th:width="200" th:height="100"
                     th:src="@{/img/gachon.png}"/>
            </div>

            <!-- 명시적 Spring 모델 객체 참조 -->
            <H2>스프링 Bean 객체를 이용한 데이터 처리</H2>
            <div class="row text-center">
                <ul>
                    <li th:each="obj : ${@testdata}" th:text="${obj.name}" />
                </ul>
            </div>

            <!-- 명시적 Spring 모델 객체 참조 -->
            <H2>컨트롤러에서 명시적 ModelAttribute 를 통한 데이터 처리</H2>
            <div class="row text-center">
                <ul>
                    <li th:each="obj : ${testdata2}" th:text="${obj.name}" />
                </ul>
            </div>

            <!-- Spring Bean 객체 참조 -->
            <H2>단순 스프링 Bean 객체 참조</H2>
            <div class="row text-center">
                <p th:text="${@test}" />
            </div>
        </div>
    </div>
</div>
</body>
</html>