<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div class="container">
    <p th:each="obj: ${@hospitalResult.getHospitalResult()}">
        <span th:text="${'value:' + obj.getValue()}" /> <span th:text="${obj.getManagingOrganization()}"/>
    </p>
    <hr/>
    <div class="box">
        <div class="box-header">
            <h5 class="box-title">Data tables</h5>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>검사일자</th>
                    <th>검사항목</th>
                    <th>검사결과</th>
                    <th>기준</th>
                    <th>결과</th>
                    <th>병원</th>
                </tr>

                </thead>

                <tbody>
                <tr>
                    <td>2015.3.4</td>
                    <td>혈당</td>
                    <td>122mg/dl</td>
                    <td>공복:110/식후:140미만정상</td>
                    <td>고혈당</td>
                    <td>길병원</td>
                </tr>
                <tr>
                    <td>2015.4.4</td>
                    <td>혈당</td>
                    <td>90mg/dl</td>
                    <td>공복:110/식후:140미만정상</td>
                    <td>정상</td>
                    <td>서울대 병원</td>
                </tr>
                <tr>
                    <td>2015.5.4</td>
                    <td>심박</td>
                    <td>95bpm</td>
                    <td></td>
                    <td>정상</td>
                    <td>연세대 병원</td>
                </tr>
                <tr>
                    <td>2015.6.4</td>
                    <td>혈압</td>
                    <td>96mmHg</td>
                    <td>수축기:120/확장기:80미만 정상</td>
                    <td>정상</td>
                    <td>길병원</td>
                </tr>

                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

</body>
</html>