<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>HITLab | Web</title>

  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
  <!--header -->
  <header class="main-header" style="background-image: url(http://www.placehold.it/1024x200);">
    <!-- Logo -->
    <a href="main.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>HIT</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>HIT</b>Admin</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <button type="button" class="btn btn-default" aria-label="Center Align">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"> 로그아웃</span>
          </button>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN MENU</li>
        <li class="treeview">
          <a href="index.html">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>건강정보 조회</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
        </li>
          <ul class="treeview-menu">
            <li><a href="hospitaldata.html"><i class="fa fa-circle-o"></i> 병원별 검사 결과</a></li>
            <li><a href="blood_sugar.html"><i class="fa fa-circle-o"></i> 혈당</a></li>
            <li><a href="blood_pressure.html"><i class="fa fa-circle-o"></i> 혈압</a></li>
            <li><a href="heartbeat.html"><i class="fa fa-circle-o"></i> 심박</a></li>
            <li><a href="weight.html"><i class="fa fa-circle-o"></i> 체중</a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="person.html">
            <i class="fa fa-edit"></i> <span>개인정보</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        개인정보
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">개인정보</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">개인정보테이블</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>이름</th>
                  <td th:text="${@person.getPerson().getName()}"></td>
                </tr>
                <tr>
                  <th>생년월일</th>
                  <td th:text="${@person.getPerson().getBirthdate()}"></td>
                </tr>
                <tr>
                  <th>성별</th>
                  <td th:text="${@person.getPerson().getGender()}"></td>
                </tr>
                <tr>
                  <th>주소</th>
                  <td th:text="${@person.getPerson().getAddress()}"></td>
                </tr>
                <tr>
                  <th>휴대전화</th>
                  <td th:text="${@person.getPerson().getTelecom()}"></td>
                </tr>
                <tr>
                  <th>보호자이름</th>
                  <td th:text="${@person.getPerson().getRelationship().getName()}"></td>
                </tr>
                <tr>
                  <th>보호자번호</th>
                  <td th:text="${@person.getPerson().getRelationship().getTelecom()}"></td>
                </tr>
                <tr>
                  <th>주치의</th>
                  <td th:text="${@person.getPerson().getCareProvider()}"></td>
                </tr>
                <tr>
                  <th>주치의 소속</th>
                  <td th:text="${@person.getPerson().getManagingOrganization()}"></td>
                </tr>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
  </footer>

</div><!-- ./wrapper -->

<!-- jQuery 2.1.4 -->
<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="plugins/chartjs/Chart.min.js"></script>
</body>
</html>